[submodule "test/examples/requirejs-multipage"]
	path = test/examples/requirejs-multipage
	url = https://github.com/requirejs/example-multipage.git
[submodule "test/examples/requirejs-jquery-cdn"]
	path = test/examples/requirejs-jquery-cdn
	url = https://github.com/requirejs/example-jquery-cdn.git
